{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>New item</h2>
      <form action="{{ url_for('add_item') }}" method="POST">
        <div class="form-group form-row align-items-center">
          <div class="col-auto">
            <label for="title-input">Title</label>
          </div>
          <div class="col">
            <input type="text" name="title" id="title-input" class="form-control" data-test-id="name-input">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12" data-test-id="todo-section">
      <h2>ToDo Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.todo_items %}
          <li class="list-group-item flex-column">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mt-1 mb-1">{{ item.title }}</h5>
              {% if item.status != 'Done' %}
                <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
              {% endif %}
			  {% if item.status == 'Done' %}
                <a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-primary">UnComplete</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12" data-test-id="doing-section">
      <h2>Doing Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.doing_items %}
          <li class="list-group-item flex-column">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mt-1 mb-1">{{ item.title }}</h5>
              {% if item.status != 'Done' %}
                <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
              {% endif %}
			  {% if item.status == 'Done' %}
                <a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-primary">UnComplete</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  {% if view_model.show_all_done_items %}
  <div class="row">
    <div class="col-md-12" data-test-id="done-section">
      <h2>Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.done_items %}
          <li class="list-group-item flex-column">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mt-1 mb-1">{{ item.title }}</h5>
              {% if item.status != 'Done' %}
                <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
              {% endif %}
			  {% if item.status == 'Done' %}
                <a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-primary">UnComplete</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12" data-test-id="recently-done-section">
      <h2>Recently Done Items</h2>
      <ul class="list-group mb-4">
        {% for item in view_model.recent_done_items %}
          <li class="list-group-item flex-column">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mt-1 mb-1">{{ item.title }}</h5>
              {% if item.status != 'Done' %}
                <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
              {% endif %}
			  {% if item.status == 'Done' %}
                <a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-primary">UnComplete</a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
	<details>
      <div class="row">
			<div class="col-md-12" data-test-id="older-done-section">
			  <h2>Older Done Items</h2>
			  <ul class="list-group mb-4">
				{% for item in view_model.older_done_items %}
				  <li class="list-group-item flex-column">
					<div class="d-flex w-100 justify-content-between">
					  <h5 class="mt-1 mb-1">{{ item.title }}</h5>
					  {% if item.status != 'Done' %}
						<a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
					  {% endif %}
					  {% if item.status == 'Done' %}
						<a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-primary">UnComplete</a>
					  {% endif %}
					</div>
				  </li>
				{% endfor %}
			  </ul>
			</div>
		</div>
      <summary>Older Tasks</summary>
    </details>
  </div>
  {% endif %}
  
  
  
  
  
{% endblock %}